*{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    font-size: 15px;
    font-style: italic;
    font-family: fantasy;
    padding-left: 50px;
    float: left;
    margin-top: 25px;
}