*{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}
.navbar{
    width: 1200px;
    height: 0px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    font-size: 15px;
    font-style: italic;
    font-family: 'lobster';
    font-weight: bolder;
    padding-left: 50px;
    float: left;
    margin-top: 25px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 15px;

}
ul li a{
    font-family: fantasy;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    color: black;
}
ul li a:hover{
    color: #2549D3;
}
.btn{
    width: 130px;
    height: 35px;
    background: #2549D3;
    border: 2px solid;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 7px;
    color: #FAFAFA;
    
}
#img1{
    width: 400px;
    height: 250px;
    margin-top: 40px;
    margin-left: -260px;
}
.section{
    display: flex;
}
.section img1{
    margin-left: 50px;
}
#part1{
    color: #0F298B;
    font-size: 30px;
    margin-top: 40px;
    margin-left: -550px;
    font-family: cursive;
}
#part2{
    font-size: 18px;
    font-weight: 10px;
    font-family: cursive;
    margin-left: -550px;
    margin-top: 30px;
}
#learn{
    margin-left: -550px;
    height: 35px;
    margin-top: 20px;
    background: #2549D3;
    color: #FAFAFA;
    border: 2px solid;
    font-size: 15px;
    border-radius: 7px;
    width: 100px;
}